export PLUGIN_NAME="test plugin heading"
export PLUGIN_VERSION="0.1"

export PLUGIN_DESCRIPTION="This is plugin description"

export PLUGIN_REPOSITORY="git:22"
export PLUGIN_DEPENDENCY_REPOSITORIES="hello/hello:1, hi/hi:2"

export PAYROLL_PLUGIN_PRIVATE_KEY_UNLOCK_PASSPHRASE="sickmetalhead"
export PGP_KEY_SERVER="keyserver.ubuntu.com"
export PGP_KEY_ID="7CD101550CA35EF150E3AC78E5AEBC25530F34AC"
